<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Openidauth.MVC.Data.Properties.Settings.OpenidauthDBConnectionString"
            connectionString="Data Source=MINHAJUDDIN-PC\SQLEXPRESS;Initial Catalog=OpenidauthDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>