<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Storefront.MVC.Data.Properties.Settings.StorefrontDBConnectionString"
            connectionString="Data Source=MINHAJUDDIN-PC\SQLEXPRESS;Initial Catalog=StorefrontDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>